body {
    color: black;
}
.header{
    display: grid;
    grid-template-columns: auto 1fr auto;

}
a.logo{
    height: 12px;
    width: 100px;
    color: inherit;
}
.header a{
    color: inherit;
}
.header nav a{
    text-decoration: none;
    padding: 0.2rem;
}

.header nav.center{
    text-align: center;
}